<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812916029359-78i8bkgtrvq67fto4j160iqki578seb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812916029359-78i8bkgtrvq67fto4j160iqki578seb4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ6bs1Ek5iW9lIMbtEcwVmmoL7buF3JyI</string>
	<key>GCM_SENDER_ID</key>
	<string>812916029359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swordfish.gerrymanderx</string>
	<key>PROJECT_ID</key>
	<string>gerrymandx-cfcf9</string>
	<key>STORAGE_BUCKET</key>
	<string>gerrymandx-cfcf9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812916029359:ios:10d4622ecc351e1ec6615a</string>
</dict>
</plist>